
        
header{
    background-color: white;
    width: 1000px;
    height: 125px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    
}
.container{
    float:left;
    margin-top: 22px;
    margin-left: 20px;
}
#sbar{
    float: right;
    margin-top: 55px;
    margin-right: 20px;
    


    
    
}
* {
    box-sizing: border-box;
  }
  
  
  form.sbar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
 
  form.sbar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form .sbar button:hover {
    background: #3b7a9d;
  }
  
  
  form.sbar::after {
    content: "";
    clear: both;
    display: table;
  }
  body{
      background-color: white;
      width: 1000px;
      height: 1366px;
  }
  body nav li{
      display: inline;
     
      
  }
  body nav{
      float: left;
      background-color:#3b7a9d;
      width: 1000px;
      
      
  }
  body nav a{
      text-decoration: none;
      color: white;
      font-size: 13px;
      padding: 0px 0px 42px 42px;
  }
  .box {
    float: left;
    width: 25%;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  hr { width:100%; height:1px; background: #d6d6d6;
 }
 footer{
     float: right;
     background-color: #d6d6d6;
     width: 100%;
     padding: 15px;
     color:#999999;
     
     
 }
#copyright{
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    
 }
 #themename{
    float: right;
     font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
 }
 .text{
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  body {
    background: #555;
  }
  
  body {
    max-width: 100%;
    margin: auto;
    background: white;
    
  }.main-content img { 
    float: left; 
    padding: 0 20px 20px 0;
   }
  hr { width:33%; height:1px; background: #d6d6d6;
}
.main-content .block2{
    margin-bottom: 30px;
    padding: 15px;
}
.slider-container{
  padding: 20px;
}
.slider-container {
  position: relative;
}

.text-block {
  position: absolute;
  
  background-color: #141414;
  color: white;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 150px ;
  margin-right: 660px;
  width: 300px;
  height: 400px;
  margin-top: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  line-height: normal;
}
.slider-container{
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-content{
  font-size: 0px;
}
#textp1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  padding: 0px 0px 20px 20px;
  text-align: center;
}
#textp2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  padding: 0px 0px 20px 20px;
  text-align: center;
}
#aboutustitle{
  text-align: center;
}
#aboutusimg{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}


